body {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#list {
	list-style-type: none;
}

#list header {
	background-color: aqua;
}

.covers {
	width: 100px;
	height: 100px;
	margin: 10px;
}

header,
h1 {
	width: 100%;
}
